@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.navbar-default{
  margin-top: 10px;
}

.page-header{
  margin-top: 0px;
  h3{
    margin-top: 0px;
  }
}

.space-20{
  margin-top: 20px;
}

.space-50{
  margin-top: 20px;
}