@import "bootstrap-sprockets";
@import "bootstrap";
@import "devise_bootstrap_views";

html, body {
  height: 100%;
}

.space-20{
  margin-top: 20px;
}

.space-50{
  margin-top: 20px;
}

.login-container{

}

.login-form
{
    width: 480px;
    margin-left: auto;
    margin-right: auto;
}